/*div.margin {
  margin-left: 15px;
  position: absolute;
  z-index:12;
 top: 0;
}*/



body {
  background-image: url("images/cactus.jpg");
  background-repeat: no-repeat;
  background-size: 100%, auto;
  background-color: rgb(245, 245, 245);
  left:0;
  top:0;
  position: static;
}

article {
  display: inline-grid;
  grid-template-rows: 15.5vh 15.5vh 15.5vh 15.5vh ;
  grid-template-columns: 15.5vh 15.5vh 15.5vh 15.5vh;
  grid-gap: 0vh;
  position: static;
  transform: translate(-10vh);
  margin-left: 67%;
  margin-top: 0vh;
  justify-content: center;
  /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));*/
}



section {
  color: rgb(12, 12, 12);
  display: flex;
  font-family: 'Playfair Display SC', serif;
  justify-content: center;
  align-items: center;
  border: 0px solid rgb(31,31,31);
  font-size: 2.3vh;;
}


.article:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rectangle {
  height: 1vh;
  width: 31vh;
  background-color: rgb(236, 11, 11);
  position: static;
  transform: translate(-10vh);
  margin-left: 67%;
  margin-top: 15.5vh;

}

/*.rectangle2 {
  height: 100%;
  width: 35vh;
  background-color: rgb(255, 187, 142);
  position: fixed;
  transform: translate(-10vh);
  margin-left: 17.5vh;
  margin-top: -15.5vh;
  z-index:10;
  -webkit-box-shadow: -1px 0px 12px -9px #000000; 
  box-shadow: -1px 0px 12px -9px #000000;
  justify-content: center;
  align-items: center;
}
*/
.topnav {
width: 200px;
height: 150px;
overflow-y: auto;
}