
body {
  left:0;
  top:0;
  background-color: rgb(245, 245, 245);
}

ul {
  margin:0; 
  padding-left:5vh;
  list-style-type: none; 
}

li {
  font-size: 2vh;
  margin-bottom: 2.01vh;
  font-family: 'Open Sans', sans-serif;
}



.rectangle {
  height: 1vh;
  width: 31vh;
  background-color: #ff5757;
  transform: translate(-10vh);
  margin-left: 67%;
  margin-top: 0vh;
  border-radius: 10px;
  overflow: scroll;
  margin-bottom: 10vh;
}



.rectangletwo {
  height: 100%;
  width: 80vh;
  background-color: #ff5757;
  position: fixed;
  z-index:10;
  left:50%;
  margin-left: -40vh;
  top: 0;
  overflow: scroll;
  -webkit-box-shadow: 1px 0px 19px -4px rgba(0,0,0,0.78); 
  box-shadow: 1px 0px 19px -4px rgba(0,0,0,0.78);
}

.rectanglethree {
  height: 80%;
  width: 80vh;
  background-color: #ff5757;
  position: fixed;
  z-index:10;
  left:50%;
  margin-left: -40vh;
  top: 13vh;
  overflow: scroll;
  
}



a:link {
  color: #fff9f9;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #fff9f9;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: #ffb584;
}

/* selected link */
a:active {
  color:#fff9f9;
  text-decoration: none;
}

h1 {
  font-family: 'friction';
  margin-top: 4.2vh;
  color: #2c2c2c;
  font-size: 4vh;
  margin-left:5vh;
  z-index: 11;
}

