/*div.margin {
  margin-left: 15px;
  position: absolute;
  z-index:12;
 top: 0;
}*/



body {
  left:0;
  top:0;
}

/*article {
  display: inline-grid;
  grid-template-rows: 15.5vh 15.5vh 15.5vh 15.5vh ;
  grid-template-columns: 15.5vh 15.5vh 15.5vh 15.5vh;
  grid-gap: 0vh;
  transform: translate(-10vh);
  margin-left: 67%;
  margin-top: -100vh;
  justify-content: center;
  /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

section {
  color: #1f1f1f;
  font-family: 'moon 2.0';
  justify-content: center;
  align-items: center;
  border: 0px solid #1f1f1f;
  font-size: 2.7vh;
}
*/

ul {
  margin:0; 
  padding-left:3vh;
  list-style-type: none; 
}

li {
  font-size: 2vh;
  margin-bottom: 2.01vh;
  font-family: 'Open Sans', sans-serif;
}

.article:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rectangle {
  height: 1vh;
  width: 31vh;
  background-color: #ff5252;
  transform: translate(-10vh);
  margin-left: 67%;
  margin-top: 0vh;
  border-radius: 10px;
  overflow: scroll;
  margin-bottom: 10vh;
}

.rectangletwo {
  height: 100%;
  width: 35vh;
  background-color: #ff5252;
  position: fixed;
  z-index:10;
  left:0;
  top: 0;
  overflow: scroll;
}

.rectanglethree {
  height: 80%;
  width: 35vh;
  background-color: #ff5252;
  position: fixed;
  z-index:10;
  left:0;
  top: 13vh;
  overflow: scroll;
}



a:link {
  color: #fff9f9;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #fff9f9;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: #d3afaf;
}

/* selected link */
a:active {
  color:#fff9f9;
  text-decoration: none;
}

h1 {
  font-family: 'friction';
  margin-top: 4.2vh;
  color: #2c2c2c;
  font-size: 4vh;
 padding-left:3vh;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 500%; 
  height: 500%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}