div {
    margin: 10px;
    padding: 10px;
}

#parent-div {
    background: #FFB33D;
    overflow: auto;
    font-family: arial;
}

#first-div {
    border: 1vh solid #4593FE;
    float: left;
    width: 30vh;
    height: 20vh;
}

#second-div {
    border: 1vh solid #09CDA1;
    width: 30vh;
    height: 20vh;
    float: right;
}

#third-div {
    background: #EE5B5D;
    clear: both;
}
